html,
body {
  margin: 0;
  padding: 0;
  background-color: #212121;
}

.game-display {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.game-display__result,
.game-display__score {
  display: flex;
  justify-content: center;
  color: #ffff;
  font-size: 32px;
  flex: 1 0 100%;
}

.restart-selection.restart-selection--hidden {
  display:none;
}

.restart-selection {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.restart-selection button.restart-selection__restart {
  color: #000;
}

.player-selection {
  display: flex;
  height: 70vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.player-selection.player-selection--hidden {
  display: none;
}

.player-selection__rock-column,
.player-selection__paper-column,
.player-selection__scissors-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-selection button,
.restart-selection__restart {
  margin: 30px 40px 0 40px;
  color: #ffff;
  padding: 5px 30px 5px 30px;
  border-radius: 50px;
  border: 0;
}

.player-selection__rock,
.player-selection__paper,
.player-selection__scissors,
.restart-selection__restart {
  cursor: pointer;
  transition: 0.2s ease-out;
}

.player-selection__rock:active,
.player-selection__paper:active,
.player-selection__scissors:active,
.restart-selection__restart:active {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

.player-selection__rock {
  background-color: #b71c1c;
}

.player-selection__rock:hover {
  background-color: #7f0000;
}

.player-selection__paper{
  background-color: #bf360c;
}

.player-selection__paper:hover {
  background-color: #870000;
}

.player-selection__scissors{
  background-color: #4a148c;
}

.player-selection__scissors:hover {
  background-color: #12005e;
}

.restart-selection__restart:hover {
  background-color: #78909c;
  color: #FFF;
}