html,
body {
  margin: 0;
  padding: 0;
  background-color: #212121;
}

.selection-container {
  width: 100%;
  height: 100vh;
}

.game-result-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.result,
.score {
  display: flex;
  justify-content: center;
  color: #ffff;
  font-size: 32px;
  flex: 1 0 100%;
}

.restart-selection.hidden {
  display:none;
}

.restart-selection {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.restart-selection button.restart {
  color: #000;
}

.selection-container {
  display: flex;
  height: 70vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.selection-container.hidden {
  display: none;
}

.rock-selection,
.paper-selection,
.scissors-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-container button,
.restart {
  margin: 30px 40px 0 40px;
  color: #ffff;
  padding: 5px 30px 5px 30px;
  border-radius: 50px;
  border: 0;
}

.selection-container .rock,
.selection-container .paper,
.selection-container .scissors,
.restart-selection .restart {
  cursor: pointer;
  transition: 0.2s ease-out;
}

.selection-container .rock:active,
.selection-container .paper:active,
.selection-container .scissors:active,
.restart-selection .restart:active {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: none;
}

.selection-container .rock {
  background-color: #b71c1c;
}

.selection-container .rock:hover {
  background-color: #7f0000;
}

.selection-container .paper {
  background-color: #bf360c;
}

.selection-container .paper:hover {
  background-color: #870000;
}

.selection-container .scissors {
  background-color: #4a148c;
}

.selection-container .scissors:hover {
  background-color: #12005e;
}

.restart-selection .restart:hover {
  background-color: #78909c;
  color: #FFF;
}